.about {
  .content-header-about {

    background-color: @tannish-background;

    .header-intro {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-intro-text {
        margin-left: 5rem;
        h1 {
          color: @bluish;
        }
        span {
          color: @reddish;
        }
        h3 {
          color: @bluish;
        }
        button {
          background-color: @reddish;
          color: @whitish;
          width: 18.6rem;
          height: 5.3rem;
          font-size: 3.6rem;
          border-radius: 50px;
          &:hover {
            background-color: @bluish;
            color: black;
          }
        }
      }
      .header-intro-img {
        margin-top: 8rem;
        margin-right: 3rem;
      }
    } //header-intro
  } //content-header

  .middle-section {
    .text-content {
      h2 {
        color: @reddish;
      }
      p {

      }
    }
  }

  .team-section {
    background-color: @bluish-background;
  }

} //about

footer {
  background-color: @tannish-background;
  text-align: center;
  p {
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: @reddish;
  }
} //footer