.about {
  .content-header-about {

    background-color: @tannish-background;
    position: relative;
    .header-img {
      position: relative;
      top: 15rem;
      left: 50%;
      transform: translateX(-50%);
    }
  } //content-header

  .middle-section {
    margin-top: 30rem;
    margin-bottom: 17.5rem;
    .text-content-about {
      text-align: center;
      h2 {
        color: @reddish;
        margin-bottom: 2rem;
      }
      p {
        margin: 0 auto;
        width: 49%;
      }
    }
  }

  .team-section {
    background-color: @bluish-background;
  }

} //about

footer {
  background-color: @tannish-background;
  text-align: center;
  p {
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: @reddish;
  }
} //footer