html {
  font-size: 62.5%;
}
//
html, body {
  font-family: 'Roboto', sans-serif;
}
//
h1, h2, h3, h4, h5, p, button, a {
  font-family: 'Mandali', sans-serif;
}
//
a, p {
  font-size: 1.8rem;
}
//
a {
  text-decoration: none;
  color: @bluish;
}
//
h1 {
  font-size: 4.8rem;
}
//
h2 {
  font-size: 3.6rem;
}
//
h3 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
