.home {

  @media @mobile {
    .remove-on-mobile {
      display: none;
    }
  }

  .content-header {

    background-color: @tannish-background;
    padding-bottom: 10rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .header-intro {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-intro-text {
        margin-left: 5rem;
        h1 {
          color: @bluish;
          @media @mobile {
            line-height: 6rem;
          }
        }
        span {
          color: @reddish;
        }
        h3 {
          color: @bluish;

          @media @mobile {
            margin-top: 2rem;
          }
        }
        button {
          background-color: @reddish;
          color: @whitish;
          width: 18.6rem;
          height: 5.3rem;
          font-size: 3.6rem;
          border-radius: 50px;
          &:hover {
            background-color: @bluish;
            color: black;
          }

          @media @mobile {
            margin-top: 2rem;
          }
        }
        @media @mobile {
          text-align: center;
          vertical-align: center;
        }
      } //header-intro-text
      .header-intro-img {
        margin-top: 8rem;
        margin-right: 3rem;
      }
    } //header-intro
  } //content-header

  .section-1 {
    display: flex;
    justify-content: space-between;
    padding: 10rem 18rem;
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10rem;
      .text-content-1 {
        .something;
        h2 {
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 5rem;
          @media @mobile {
            width: 100%;
          }
        }
      }
      .text-content-2 {
        .something;
        h2 {
          margin-bottom: 1rem;
        }
        p {
          @media @mobile {
            width: 100%;
          }
        }
      }
      @media @mobile {
        margin: 0 auto;
        text-align: center;
      }
    } //text-content
    @media @mobile {
      padding: 10rem 2rem;
    }
  } //section-1

  .section-2 {
    background-color: @bluish-background;
    padding: 10rem 15rem;
    @media @mobile {
      padding: 10rem 3rem;
    }
    .group-1 {
      display: flex;
      position: relative;
      @media @mobile {
        display: none;
      }
      .subgroup-1 {
        position: absolute;
        top: 2rem;
        .item-1 {
          position: relative;
        }
        .item-2 {
          position: absolute;
          top: 15rem;
          width: 80%;
          text-align: right;
        }
      }
      .item-3 {
        position: relative;
        left: 46rem;
      }
      .item-4 {
        position: relative;
        left: 10rem;
        top: 2rem;
      }
    } //group-1
    h1 {
      color: @whitish;
      @media @mobile {
        line-height: 6rem;
        margin-bottom: 2rem;
      }
    }
    h3 {
      color: @whitish;
    }
    .group-2 {
      display: none;
      @media @mobile {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  } //section-2
} //home