//.home {
//
//  .content-header {
//    border-bottom: 2px dashed @navigation-border;
//    hr {
//      width: 99vw;
//      position: relative;
//      left: calc(-50vw + 50%);
//      margin-bottom: 0;
//      border-top: 2px dashed @navigation-border;
//    }
//    .fun-bus {
//      margin-bottom: 2%;
//    }
//    .header-welcome-text {
//      margin-bottom: 1%;
//    }
//    .mobile-size(90%, 0%, 5% auto, left);
//  }
//
//  .content-section {
//    margin: 30px 0;
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;
//
//    .mobile-query(column);
//
//    .text-content {
//      width: 48%;
//      padding-right: 1%;
//      //.mobile-size(@width, @padding, @margin, @t-align)
//      .mobile-size(100%, 0%, 0 auto 1% auto, left);
//    }
//
//    .img-content {
//      width: 48%;
//      padding-left: 1%;
//      //.mobile-size(@width, @padding, @margin, @t-align)
//      .mobile-size(100%, 0%, 0 auto 5% auto, left);
//
//      img {
//        border-radius: 10px;
//      }
//    }
//    .mobile-size(90%, 0%, 0 auto, left);
//  }
//
//  .inverse-content {
//    padding-bottom: 30px;
//    border-bottom: 2px dashed @navigation-border;
//
//    .mobile-query(column-reverse);
//
//    .text-content {
//      padding-left: 1%;
//      padding-right: 0;
//    }
//
//    .img-content {
//      padding-right: 1%;
//      padding-left: 0;
//    }
//    .mobile-size(90%, 0%, 0 auto, left);
//  }
//
//  .content-destination {
//    width: 75%;
//    margin: 0 auto 30px;
//
//    .mobile-query(column);
//    //.mobile-size(@width, @padding, @margin, @t-align)
//    .mobile-size(90%, 0%, 5% auto, left);
//
//    img {
//      border-radius: 10px;
//    }
//  }
//
//  .content-pick {
//    padding-top: 30px;
//    border-top: 2px dashed @navigation-border;
//    display: flex;
//    justify-content: space-between;
//    .mobile-size(90%, 5% 0, 5% auto 0 auto, left);
//
//    .mobile-query(column);
//
//    .destination {
//      width: 30%;
//      margin-bottom: 30px;
//      //.mobile-size(@width, @padding, @margin, @t-align)
//      .mobile-size(75%, 0%, 0 auto 3% auto, left);
//
//      .btn {
//        .button-styles(#008080, #ffffff, 15px);
//        .mobile-size(100%, 5%, 0 auto, center);
//      }
//    }
//  }
//}// home

.home {
  .content-header {

    background-color: @tannish-background;

    .page-nav {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;

      .logo {
        margin-left: 5rem;
        align-items: center;
        //margin-top: -.5rem; //Trying to center it with the nav items
      }

      .nav-items {
        display: flex;
        justify-content: space-between;

        a {
          margin-right: 5rem;
        }
      }
    } //page-nav

    .header-intro {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-intro-text {
        margin-left: 5rem;
        h1 {
          color: @bluish;
        }
        span {
          color: @reddish;
        }
        h3 {
          color: @bluish;
        }
        button {
          background-color: @reddish;
          color: @whitish;
          width: 18.6rem;
          height: 5.3rem;
          font-size: 3.6rem;
          border-radius: 50px;
          &:hover {
            background-color: @bluish;
            color: black;
          }
        }
      }
      .header-intro-img {
        margin-top: 8rem;
        margin-right: 3rem;
      }
    } //header-intro
  } //content-header

  .section-1 {
    display: flex;
    justify-content: space-between;
    padding: 10rem 18rem;
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10rem;
      .text-content-1 {
        .something;
        h2 {
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 5rem;
        }
      }
      .text-content-2 {
        .something;
        h2 {
          margin-bottom: 1rem;
        }
      }

    }
  } //section-1

  .section-2 {
    display: flex;
    flex-direction: column;
    background-color: @bluish-background;
    .column-1 {
      display: flex;
    }
    h1 {
      color: @whitish;
    }
    h3 {
      color: @whitish;
    }
  } //section-2
} //home
footer {
  background-color: @tannish-background;
  text-align: center;
  p {
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: @reddish;
  }
} //footer